Solving simple linear regression using gradient descent

Gradient Descent:
          Initially choosing random values (usually 0)and then updating the values with help of hyperparameter

importing necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.DataFrame(pd.read_csv("/content/drive/MyDrive/simple linear regression/Salary_dataset.csv"))

In [3]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [4]:
df

    YearsExperience    Salary
0               1.2   39344.0
1               1.4   46206.0
2               1.6   37732.0
3               2.1   43526.0
4               2.3   39892.0
5               3.0   56643.0
6               3.1   60151.0
7               3.3   54446.0
8               3.3   64446.0
9               3.8   57190.0
10              4.0   63219.0
11              4.1   55795.0
12              4.1   56958.0
13              4.2   57082.0
14              4.6   61112.0
15              5.0   67939.0
16              5.2   66030.0
17              5.4   83089.0
18              6.0   81364.0
19              6.1   93941.0
20              6.9   91739.0
21              7.2   98274.0
22              8.0  101303.0
23              8.3  113813.0
24              8.8  109432.0
25              9.1  105583.0
26              9.6  116970.0
27              9.7  112636.0
28             10.4  122392.0
29             10.6  121873.0

In [5]:
import numpy as np

In [47]:
m = 0
c = 0
n = len(df["Salary"])
learning_rate = 0.011

for i in range(100):
    Y_pred = m * df["YearsExperience"] + c
    gradient_m = (-2 / n) * np.sum(df["YearsExperience"] * (df["Salary"] - Y_pred))
    gradient_c = (-2 / n) * np.sum(df["Salary"] - Y_pred)

    m -= learning_rate * gradient_m
    c -= learning_rate * gradient_c

print(m, c)

11592.527387555425 10249.802878583318

In [48]:
years=df["YearsExperience"]
ypred=[]
for i in  years:
  ypred.append((m*i)+c)

In [49]:
ypred

[24160.83574364983,
 26479.34122116091,
 28797.846698672,
 34594.11039244971,
 36912.6158699608,
 45027.38504124959,
 46186.637780005134,
 48505.14325751622,
 48505.14325751622,
 54301.40695129393,
 56619.912428805015,
 57779.16516756055,
 57779.16516756055,
 58938.41790631609,
 63575.42886133827,
 68212.43981636045,
 70530.94529387153,
 72849.45077138262,
 79804.96720391586,
 80964.2199426714,
 90238.24185271576,
 93716.00006898236,
 102990.02197902671,
 106467.78019529334,
 112264.04388907104,
 115741.80210533767,
 121538.06579911539,
 122697.31853787093,
 130812.08770915974,
 133130.59318667083]

In [15]:
from sklearn.metrics import r2_score

In [50]:
r=r2_score(df["Salary"],ypred)

In [51]:
r # which is acceptable

0.8953759931919048